.global {
    margin-top: 20vh;
    font-size: 1.3rem;
}
.paragraph {
padding-top: 15px;
}

.title {
    color: white;
    background-color: #b1a7a6;
    font-size: 2.5rem;
    border-radius: 20px;
}

.global h3 {
        margin-top: 10px;

}

.description {
    margin-top: 10vh;
    font-size: 1.5rem;
}

.description h3 {
    font-size: 2rem;
    margin: 5vh;
    color: #e5383b;

}
