

.imgContainer {
    min-height: 80vh;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/9c5457b8-9ab0-4a04-9fc1-e608d5670f1a/6ba61d0e-de80-4729-9a30-6435e3156f85/TN-fr-20210719-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    font-family: 'Poppins', sans-serif;
    text-align: center;


}

.titleH1 {

    font-size:4rem;
    color: rgba(255,255,255,1);
}
.blackTop {
    width: 100%;
    height: 40vh;
    background-color: black;
    opacity: 0.2;

}

.imgContainer  button a  {
    text-decoration: none;
    color :white;
}



